body{
    margin: 0;
}

.header{
    border: 2px solid;
}

.img_back{
    width: 100%;
    height: 800px;
    object-fit: cover;
    z-index: 0;
    border-bottom: 1px solid black;
}

.nav_bar{
    font-size: 25px;
    width: 100%;
    bottom: 0;
    color: aliceblue;
    background-color: #111;
}

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    vertical-align: middle;
}

.menu_item{
    padding: 5px 50px;
    text-align: center;
    margin: 20px auto;
    border: 2px white solid;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;
}

.menu_item:hover{
    background-color: #333;
    box-shadow: 1px 1px 7px 1px white;
}

.forma{
    max-width: 100%;
    margin-bottom: 1000px;
    margin-top: 50px;
}

.form{
    margin: 0 auto;
    max-width: 235px;
    border: 2px solid black;
    padding: 20px 10px;
    background-color: #b7f1f2be;
    border-radius: 10px;
}

.form p input{
    width: 97%;
    height: 25px;
    border-radius: 10px;
    padding-left: 5px;
    border: 1px solid;
    transition: 0.4s;
    background-color: antiquewhite;
    font-size: 15px;
}

.form p input:focus, form p textarea:focus{
    border: 2px solid;
    background-color: white;

}

.form p textarea{
    border-radius: 10px;
    border-bottom-right-radius: 3px;
    padding: 5px;
    border: 1px solid;
    background-color: antiquewhite;
    font-size: 15px;
}

.form button{
    margin-left: 25%;
    width: 120px;
    height: 33px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    font-weight: 600;
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.761);
    transition: all 0.3s;
}

.form button:hover{
    background-color: rgba(255, 255, 140, 0.761);
    transform: scale(1.1);
}

.form button:active{
    transition: all 0s;
    background-color: white;
    transform: scale(1.07);
}